/* Homepage (desktop) */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: relative;
width: 1280px;
height: 3484px;

background: #2B2B2B;


/* Navigation */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 20px 50px;

width: 1280px;
height: 100px;

/* Background */
background: #2B2B2B;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Group 2 */

margin: 0 auto;
width: 215px;
height: 34px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* nav / logo */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

position: absolute;
width: 32px;
height: 32px;
left: 50px;
top: 35px;



/* Logo */

width: 32px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Storefront */

position: absolute;
width: 32px;
height: 32px;
left: 0px;
top: 0px;



/* Vector (Stroke) */

position: absolute;
left: 15.62%;
right: 15.62%;
top: 38.91%;
bottom: 12.5%;

/* Call to Action */
background: linear-gradient(180deg, #A259FF 0%, #613599 100%);


/* Vector (Stroke) */

position: absolute;
left: 9.38%;
right: 9.38%;
top: 12.5%;
bottom: 81.25%;

/* Call to Action */
background: linear-gradient(180deg, #A259FF 0%, #613599 100%);


/* Vector (Stroke) */

position: absolute;
left: 9.38%;
right: 59.38%;
top: 21.88%;
bottom: 53.12%;

/* Call to Action */
background: linear-gradient(180deg, #A259FF 0%, #613599 100%);


/* Vector (Stroke) */

position: absolute;
left: 34.38%;
right: 34.38%;
top: 21.88%;
bottom: 53.12%;

/* Call to Action */
background: linear-gradient(180deg, #A259FF 0%, #613599 100%);


/* Vector (Stroke) */

position: absolute;
left: 59.38%;
right: 9.38%;
top: 21.88%;
bottom: 53.12%;

/* Call to Action */
background: linear-gradient(180deg, #A259FF 0%, #613599 100%);


/* BlockDegrees */

position: absolute;
width: 177px;
height: 34px;
left: 88px;
top: 33px;

font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 140%;
/* identical to box height, or 34px */
text-align: center;

color: #FFFFFF;



/* nav / nav menu */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 10px;

margin: 0 auto;
width: 607px;
height: 60px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Marketplace */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 20px;
gap: 12px;

width: 86px;
height: 46px;

border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* RocketLaunch */

display: none;
width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Home */

width: 46px;
height: 22px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 140%;
/* or 22px */
text-align: center;

color: #A259FF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Rankings */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 20px;
gap: 12px;

width: 109px;
height: 46px;

border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* RocketLaunch */

display: none;
width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Features */

width: 69px;
height: 22px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 140%;
/* or 22px */
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Connect a wallet */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 20px;
gap: 12px;

width: 88px;
height: 46px;

border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* RocketLaunch */

display: none;
width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* About */

width: 48px;
height: 22px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 140%;
/* or 22px */
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Sign Up */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 30px;
gap: 12px;

width: 181px;
height: 60px;

/* Call to Action */
background: linear-gradient(180deg, #A259FF 0%, #613599 100%);
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* User */

display: none;
width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

width: 121px;
height: 22px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 140%;
/* or 22px */
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 269 */

width: 1280px;
height: 792px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 270 */

position: absolute;
width: 1300px;
height: 744px;
left: -10px;
top: -10px;



/* Hero Section */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 80px 195px;
gap: 30px;

position: absolute;
width: 1280px;
height: 724px;
left: 10px;
top: 10px;

/* Background */
background: #2B2B2B;


/* Hero Section Frame */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 30px;

width: 1050px;
height: 632px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Hero Text & Buttons */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 30px;

width: 510px;
height: 632px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Headline & Subhead */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;

width: 510px;
height: 542px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Discover digital art & Collect NFTs */

width: 510px;
height: 370px;

/* H1 - Work Sans */
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 67px;
line-height: 110%;
/* or 74px */
display: flex;
align-items: center;
text-transform: capitalize;

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* NFT marketplace UI created with Anima for Figma. Collect, buy and sell art from more than 20k NFT artists. */

width: 510px;
height: 152px;

/* Body Text- Work Sans */
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 160%;
/* or 38px */
text-transform: capitalize;

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 50px;
gap: 12px;

width: 224px;
height: 60px;

/* Call to Action */
background: linear-gradient(180deg, #A259FF 0%, #613599 100%);
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* RocketLaunch */

display: none;
width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

width: 140px;
height: 22px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 140%;
/* or 22px */
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Additional Info */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 30px;

display: none;
width: 510px;
height: 77px;

border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Highlighted NFT */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 510px;
height: 510px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Artist Card */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 20px;
gap: 12px;

display: none;
width: 307px;
height: 102px;

background: #3B3B3B;
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Image Placeholder */

width: 510px;
height: 401px;

background: url(nfts-for-education-certification-768x512.png);
border-radius: 20px 20px 0px 0px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 1;


/* Frame 230 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;
gap: 10px;

width: 510px;
height: 109px;

/* Background - Secondary */
background: #3B3B3B;
border-radius: 0px 0px 20px 20px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Space Walking */

width: 470px;
height: 34px;

/* H5 - Work Sans */
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 140%;
/* identical to box height, or 34px */
text-transform: capitalize;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Artist Card */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 470px;
height: 24px;

border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Avatar  */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Asset 12 2 */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Avatar Placeholder */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: url(Keemun_man_avatar_2d_colorful_illustration_f9463786-5b0e-41d9-bbe1-e3fba5ab0a75.png);
border-radius: 120px;


/* Dish Studio */

width: 434px;
height: 22px;

/* Base(Body) - Work Sans */
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Frame 87 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 20px 30px;
gap: 140px;

display: none;
width: 280px;
height: 80px;

background: #3B3B3B;
border: 1px solid #858584;
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Graduation Cap */

position: absolute;
width: 20px;
height: 20px;
left: 147px;
top: 647px;

background: url(.png);


/* How it works */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 80px 195px;
gap: 48px;

width: 1280px;
height: 766px;

/* Background */
background: #2B2B2B;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Section Headline */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 1050px;
height: 104px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* How it works */

width: 1050px;
height: 56px;

/* H2 - Work Sans */
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 51px;
line-height: 110%;
/* or 56px */
text-transform: capitalize;

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Find out how to get started */

width: 1050px;
height: 38px;

/* Body Text- Work Sans */
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 160%;
/* or 38px */
text-transform: capitalize;

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Card Row */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 30px;

width: 1050px;
height: 454px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Info Card */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 10px 30px 30px;
gap: 20px;

width: 330px;
height: 454px;

/* Background - Secondary */
background: #3B3B3B;
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 250px;
height: 250px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

background: linear-gradient(101.76deg, #A259FF 11.55%, #3B3B3B 77.45%);


/* Group */

position: absolute;
left: 19.57%;
right: 19.57%;
top: 19.57%;
bottom: 19.57%;

filter: blur(27px);


/* Vector */

position: absolute;
left: 19.57%;
right: 19.57%;
top: 19.57%;
bottom: 19.57%;

background: linear-gradient(100.92deg, rgba(162, 89, 255, 0) 13.57%, #FF6250 97.65%);


/* Vector */

position: absolute;
left: 44.93%;
right: 50.65%;
top: 12.68%;
bottom: 82.9%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 14.86%;
right: 80.73%;
top: 70.65%;
bottom: 24.93%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 84.06%;
right: 11.52%;
top: 67.75%;
bottom: 27.83%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 24.42%;
right: 70.5%;
top: 21.52%;
bottom: 73.4%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 77.8%;
right: 16.63%;
top: 78.16%;
bottom: 16.27%;

background: linear-gradient(128.15deg, #A259FF 49.76%, #377DF7 136.57%);


/* Vector */

position: absolute;
left: 16.89%;
right: 78.6%;
top: 83.77%;
bottom: 11.9%;

background: linear-gradient(182deg, #A259FF 35.06%, #377DF7 153.8%);


/* Vector */

position: absolute;
left: 82.22%;
right: 13.36%;
top: 24.21%;
bottom: 71.34%;

background: linear-gradient(86.7deg, #A259FF 37.83%, #377DF7 151.67%);


/* Vector */

position: absolute;
left: 61.97%;
right: 23.99%;
top: 46.93%;
bottom: 44.55%;

background: linear-gradient(95.99deg, #A259FF 12.36%, #3B3B3B 99.25%);


/* Vector */

position: absolute;
left: 71.21%;
right: 25.58%;
top: 48.84%;
bottom: 47.95%;

background: #EBEBEB;


/* Vector */

position: absolute;
left: 71.93%;
right: 26.31%;
top: 49.57%;
bottom: 48.67%;

background: #DBDBDB;


/* Vector */

position: absolute;
left: 22.99%;
right: 30.09%;
top: 36.11%;
bottom: 25.55%;

background: linear-gradient(328.07deg, #A259FF 0.89%, #3B3B3B 57.05%);


/* Vector */

position: absolute;
left: 27.11%;
right: 32.49%;
top: 23.94%;
bottom: 42.37%;

background: linear-gradient(85.88deg, #A259FF 15.75%, #FF6250 94.9%);


/* Vector */

position: absolute;
left: 58.05%;
right: 38.27%;
top: 41.65%;
bottom: 54.67%;

background: linear-gradient(79.92deg, #A259FF 13.21%, #FF6250 98.13%);


/* Vector */

position: absolute;
left: 60.16%;
right: 36.15%;
top: 40.83%;
bottom: 55.49%;

background: linear-gradient(79.92deg, #A259FF 13.21%, #3B3B3B 98.13%);


/* Vector */

position: absolute;
left: 30.78%;
right: 61.81%;
top: 36.08%;
bottom: 57.68%;

background: linear-gradient(85.32deg, #A259FF 15.17%, #3B3B3B 95.57%);


/* Vector */

position: absolute;
left: 53.36%;
right: 41.31%;
top: 27.95%;
bottom: 68.45%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 33.18%;
right: 65.77%;
top: 46.33%;
bottom: 51.88%;

background: #F8F8F8;


/* Vector */

position: absolute;
left: 34.12%;
right: 64.22%;
top: 45.88%;
bottom: 52.08%;

background: #F8F8F8;


/* Vector */

position: absolute;
left: 35.67%;
right: 62.88%;
top: 45.14%;
bottom: 52.81%;

background: #F8F8F8;


/* Vector */

position: absolute;
left: 37.58%;
right: 61.06%;
top: 44.52%;
bottom: 53.65%;

background: #F8F8F8;


/* Vector */

position: absolute;
left: 40.44%;
right: 58.11%;
top: 43.28%;
bottom: 54.66%;

background: #F8F8F8;


/* Vector */

position: absolute;
left: 42.2%;
right: 56.41%;
top: 42.76%;
bottom: 55.32%;

background: #F8F8F8;


/* Vector */

position: absolute;
left: 43.5%;
right: 55.41%;
top: 42.07%;
bottom: 55.86%;

background: #F8F8F8;


/* Vector */

position: absolute;
left: 45.26%;
right: 53.39%;
top: 41.64%;
bottom: 56.49%;

background: #F8F8F8;


/* Vector */

position: absolute;
left: 48.3%;
right: 50.31%;
top: 40.39%;
bottom: 57.68%;

background: #F8F8F8;


/* Vector */

position: absolute;
left: 50.01%;
right: 48.56%;
top: 39.76%;
bottom: 58.38%;

background: #F8F8F8;


/* Vector */

position: absolute;
left: 51.59%;
right: 47.36%;
top: 39.2%;
bottom: 59%;

background: #F8F8F8;


/* Vector */

position: absolute;
left: 52.53%;
right: 45.81%;
top: 38.76%;
bottom: 59.21%;

background: #F8F8F8;


/* Vector */

position: absolute;
left: 55.61%;
right: 42.94%;
top: 37.42%;
bottom: 60.53%;

background: #F8F8F8;


/* Vector */

position: absolute;
left: 57.53%;
right: 41.11%;
top: 36.8%;
bottom: 61.37%;

background: #F8F8F8;


/* Vector */

position: absolute;
left: 58.85%;
right: 39.7%;
top: 36.16%;
bottom: 61.78%;

background: #F8F8F8;


/* Vector */

position: absolute;
left: 60.61%;
right: 38%;
top: 35.63%;
bottom: 62.44%;

background: #F8F8F8;


/* Vector */

position: absolute;
left: 35.54%;
right: 48.49%;
top: 45.07%;
bottom: 48.09%;

background: linear-gradient(121.01deg, #A259FF 37.84%, #FF6250 65.91%);


/* Vector */

position: absolute;
left: 36.2%;
right: 52.4%;
top: 48.56%;
bottom: 46.38%;

background: linear-gradient(117.12deg, #A259FF 34.5%, #FF6250 70.28%);


/* Vector */

position: absolute;
left: 44.22%;
right: 47.91%;
top: 30.11%;
bottom: 66.34%;

background: #3B3B3B;


/* Vector */

position: absolute;
left: 27.72%;
right: 32.7%;
top: 49.81%;
bottom: 28.35%;

background: linear-gradient(98.25deg, #A259FF 16.59%, #3B3B3B 93.71%);


/* Vector */

position: absolute;
left: 27.72%;
right: 32.7%;
top: 49.81%;
bottom: 28.35%;

background: #000000;
opacity: 0.2;


/* Vector */

position: absolute;
left: 22.69%;
right: 32.16%;
top: 42.17%;
bottom: 24.85%;

background: linear-gradient(289.32deg, #A259FF 24.47%, #FFFFFF 100.66%);


/* Vector */

position: absolute;
left: 58.25%;
right: 38.63%;
top: 56.62%;
bottom: 39.86%;

background: #EBEBEB;


/* Vector */

position: absolute;
left: 59.09%;
right: 39.46%;
top: 57.56%;
bottom: 40.8%;

background: #DBDBDB;


/* Card Details */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 10px;

width: 270px;
height: 144px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Setup Your wallet */

width: 270px;
height: 68px;

/* H5 - Work Sans */
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 140%;
/* or 34px */
text-align: center;
text-transform: capitalize;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Set up your wallet of choice. Connect it to the NFT market by clicking the wallet icon in the top right corner. */

width: 270px;
height: 66px;

/* Base(Body) - Work Sans */
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */
text-align: center;

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Info Card */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 10px 30px 30px;
gap: 20px;

width: 330px;
height: 454px;

/* Background - Secondary */
background: #3B3B3B;
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Icon */

width: 250px;
height: 250px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

background: linear-gradient(101.76deg, #A259FF 11.55%, #3B3B3B 77.45%);


/* Group */

position: absolute;
left: 19.57%;
right: 19.57%;
top: 19.57%;
bottom: 19.57%;

filter: blur(27px);


/* Vector */

position: absolute;
left: 19.57%;
right: 19.57%;
top: 19.57%;
bottom: 19.57%;

background: linear-gradient(210.12deg, rgba(162, 89, 255, 0) 34.08%, #FF6250 88.32%);


/* Vector */

position: absolute;
left: 27.9%;
right: 67.68%;
top: 15.22%;
bottom: 80.36%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 16.3%;
right: 79.28%;
top: 68.48%;
bottom: 27.1%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 79.71%;
right: 15.87%;
top: 32.97%;
bottom: 62.61%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 13.55%;
right: 81.37%;
top: 18.62%;
bottom: 76.3%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 80.7%;
right: 13.74%;
top: 18.38%;
bottom: 76.06%;

background: linear-gradient(128.15deg, #A259FF 49.75%, #377DF7 136.57%);


/* Vector */

position: absolute;
left: 16.17%;
right: 79.33%;
top: 80.15%;
bottom: 15.52%;

background: linear-gradient(182deg, #A259FF 35.06%, #377DF7 153.8%);


/* Vector */

position: absolute;
left: 77.51%;
right: 18.07%;
top: 70.95%;
bottom: 24.61%;

background: linear-gradient(86.7deg, #A259FF 37.83%, #377DF7 151.67%);


/* Vector */

position: absolute;
left: 25.77%;
right: 31.14%;
top: 45.26%;
bottom: 17.94%;

background: linear-gradient(153.9deg, #A259FF 49.77%, rgba(162, 89, 255, 0) 82.9%);


/* Vector */

position: absolute;
left: 45.44%;
right: 25.96%;
top: 34.59%;
bottom: 36.82%;

background: linear-gradient(252.92deg, #FF7262 49.78%, #A259FF 74.58%);


/* Vector */

position: absolute;
left: 52.69%;
right: 44.18%;
top: 49.39%;
bottom: 47.48%;

background: linear-gradient(154.6deg, #3B3B3B -48.82%, #A259FF 116.33%);


/* Vector */

position: absolute;
left: 54.56%;
right: 39.85%;
top: 44.79%;
bottom: 48.14%;

background: linear-gradient(141.17deg, #3B3B3B 25.55%, #A259FF 66.4%);


/* Vector */

position: absolute;
left: 58.12%;
right: 38.74%;
top: 50.52%;
bottom: 46.35%;

background: linear-gradient(154.6deg, #3B3B3B -48.81%, #A259FF 116.32%);


/* Vector */

position: absolute;
left: 60.01%;
right: 34.41%;
top: 45.92%;
bottom: 47.01%;

background: linear-gradient(141.17deg, #3B3B3B 25.55%, #A259FF 66.4%);


/* Vector */

position: absolute;
left: 58.57%;
right: 33.81%;
top: 44.79%;
bottom: 53.37%;

background: linear-gradient(183.44deg, #3B3B3B -173.92%, #A259FF 200.44%);


/* Vector */

position: absolute;
left: 57.4%;
right: 34.97%;
top: 46.39%;
bottom: 51.76%;

background: linear-gradient(183.47deg, #3B3B3B -173.8%, #A259FF 200.4%);


/* Vector */

position: absolute;
left: 33.43%;
right: 41.08%;
top: 20.35%;
bottom: 56.88%;

background: linear-gradient(161.09deg, #FF7262 26.41%, #A259FF 81.43%);


/* Vector */

position: absolute;
left: 35.67%;
right: 41.09%;
top: 27.11%;
bottom: 56.73%;

background: linear-gradient(338.73deg, #A259FF -11.38%, #FFFFFF 78.86%);


/* Vector */

position: absolute;
left: 37.24%;
right: 59.15%;
top: 27.11%;
bottom: 69.29%;

background: #FFFFFF;
opacity: 0.9;


/* Vector */

position: absolute;
left: 25.25%;
right: 34.37%;
top: 46.55%;
bottom: 18.15%;

background: linear-gradient(335.79deg, #A259FF 24.67%, #FFFFFF 99.47%);


/* Card Details */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 10px;

width: 270px;
height: 110px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Setup Your wallet */

width: 270px;
height: 34px;

/* H5 - Work Sans */
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 140%;
/* identical to box height, or 34px */
text-align: center;
text-transform: capitalize;

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Set up your wallet of choice. Connect it to the NFT market by clicking the wallet icon in the top right corner. */

width: 270px;
height: 66px;

/* Base(Body) - Work Sans */
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */
text-align: center;

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Info Card */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 10px 30px 30px;
gap: 20px;

width: 330px;
height: 454px;

/* Background - Secondary */
background: #3B3B3B;
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Icon */

width: 250px;
height: 250px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

background: linear-gradient(101.76deg, #A259FF 11.55%, #3B3B3B 77.45%);


/* Group */

position: absolute;
left: 24.64%;
right: 19.57%;
top: 24.64%;
bottom: 19.57%;

filter: blur(27px);


/* Vector */

position: absolute;
left: 24.64%;
right: 19.57%;
top: 24.64%;
bottom: 19.57%;

background: linear-gradient(276.5deg, rgba(162, 89, 255, 0) 26.62%, #FF6250 56.95%);


/* Vector */

position: absolute;
left: 20.29%;
right: 75.29%;
top: 29.35%;
bottom: 66.23%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 16.3%;
right: 79.28%;
top: 68.48%;
bottom: 27.1%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 75%;
right: 20.58%;
top: 15.22%;
bottom: 80.36%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 21.52%;
right: 73.4%;
top: 15%;
bottom: 79.92%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 79.61%;
right: 14.82%;
top: 28.16%;
bottom: 66.27%;

background: linear-gradient(128.15deg, #A259FF 49.75%, #377DF7 136.57%);


/* Vector */

position: absolute;
left: 16.17%;
right: 79.33%;
top: 80.15%;
bottom: 15.52%;

background: linear-gradient(182deg, #A259FF 35.06%, #377DF7 153.8%);


/* Vector */

position: absolute;
left: 76.42%;
right: 19.16%;
top: 72.4%;
bottom: 23.16%;

background: linear-gradient(86.7deg, #A259FF 37.83%, #377DF7 151.67%);


/* Group */

position: absolute;
left: 24.74%;
right: 27.89%;
top: 78.01%;
bottom: 13.9%;

filter: blur(10.3437px);


/* Vector */

position: absolute;
left: 24.74%;
right: 27.89%;
top: 78.01%;
bottom: 13.9%;

background: radial-gradient(50% 50% at 50% 50%, #2B2B2B 0%, rgba(43, 43, 43, 0) 100%);


/* Group */

position: absolute;
left: 31.58%;
right: 44.55%;
top: 23.91%;
bottom: 46.76%;

box-shadow: inset 2.38455px 5.56394px 11.9227px rgba(27, 119, 139, 0.15);


/* Vector */

position: absolute;
left: 31.58%;
right: 44.55%;
top: 23.91%;
bottom: 46.76%;

background: linear-gradient(87.83deg, #A259FF 14.88%, #3B3B3B 95.94%);


/* Vector */

position: absolute;
left: 36.51%;
right: 50.02%;
top: 35.27%;
bottom: 61.13%;

background: linear-gradient(308.39deg, #A259FF 37.94%, #FFFFFF 73.54%);


/* Vector */

position: absolute;
left: 38.44%;
right: 48.21%;
top: 45.57%;
bottom: 50.9%;

background: linear-gradient(308.45deg, #A259FF 38.1%, #FFFFFF 73.23%);


/* Vector */

position: absolute;
left: 37.49%;
right: 49.16%;
top: 40.18%;
bottom: 56.28%;

background: linear-gradient(308.45deg, #A259FF 38.1%, #FFFFFF 73.23%);


/* Vector */

position: absolute;
left: 35.48%;
right: 57.99%;
top: 28.97%;
bottom: 66.58%;

background: #A259FF;


/* Group */

position: absolute;
left: 45.14%;
right: 31.01%;
top: 30.03%;
bottom: 56.94%;

box-shadow: inset 5.62585px 3.75056px 12.1893px rgba(27, 119, 139, 0.09);


/* Vector */

position: absolute;
left: 45.14%;
right: 31.01%;
top: 30.03%;
bottom: 56.94%;

background: linear-gradient(50.64deg, #A259FF -10.12%, #FF6250 99.83%);


/* Vector */

position: absolute;
left: 48.2%;
right: 47.84%;
top: 34.56%;
bottom: 61.48%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 55.27%;
right: 40.77%;
top: 34.56%;
bottom: 61.48%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 62.35%;
right: 33.69%;
top: 34.56%;
bottom: 61.48%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 31.4%;
right: 36.44%;
top: 63.02%;
bottom: 25.89%;

background: linear-gradient(328.28deg, #A259FF 23.88%, #FFFFFF 115.66%);


/* Vector */

position: absolute;
left: 61.48%;
right: 22.03%;
top: 45.17%;
bottom: 41.21%;

background: linear-gradient(133.89deg, #A259FF 52.3%, #377DF7 136.89%);


/* Vector */

position: absolute;
left: 34.07%;
right: 57.24%;
top: 68.21%;
bottom: 23.1%;

background: linear-gradient(315.62deg, #A259FF 23.94%, #FFFFFF 100.9%);


/* Vector */

position: absolute;
left: 30.77%;
right: 32.43%;
top: 44.7%;
bottom: 30.75%;

background: linear-gradient(323.07deg, #A259FF 24.97%, #FFFFFF 102.16%);


/* Vector */

position: absolute;
left: 36.11%;
right: 59.52%;
top: 70.36%;
bottom: 25.28%;

background: linear-gradient(100.91deg, #FFFFFF 5.09%, #BCF3FF 128.45%);


/* mask0_1586_15585 */

position: absolute;
left: 30.77%;
right: 32.76%;
top: 44.7%;
bottom: 30.75%;



/* Vector */

position: absolute;
left: 30.77%;
right: 32.76%;
top: 44.7%;
bottom: 30.75%;

background: linear-gradient(97.24deg, #AFF1FF 1.23%, #65C8DE 93.29%);


/* Group */

position: absolute;
left: 29.54%;
right: 27.06%;
top: 44.86%;
bottom: 30.49%;



/* Vector */

position: absolute;
left: 48.32%;
right: 47.49%;
top: 56.83%;
bottom: 31.74%;

background: #A259FF;


/* Vector */

position: absolute;
left: 29.54%;
right: 27.06%;
top: 44.86%;
bottom: 45.48%;

background: #A259FF;


/* Vector */

position: absolute;
left: 55.26%;
right: 40.55%;
top: 58.08%;
bottom: 30.49%;

background: #A259FF;


/* Vector */

position: absolute;
left: 41.38%;
right: 54.43%;
top: 55.57%;
bottom: 33%;

background: #A259FF;


/* Vector */

position: absolute;
left: 34.36%;
right: 61.46%;
top: 54.34%;
bottom: 34.24%;

background: #A259FF;


/* Vector */

position: absolute;
left: 29.95%;
right: 31.29%;
top: 43.77%;
bottom: 47.17%;

background: linear-gradient(18.67deg, #A259FF 35.9%, #FFFFFF 77.53%);


/* Vector */

position: absolute;
left: 47.69%;
right: 43.62%;
top: 70.61%;
bottom: 20.7%;

background: linear-gradient(315.62deg, #A259FF 23.94%, #FFFFFF 100.9%);


/* Vector */

position: absolute;
left: 49.83%;
right: 45.8%;
top: 72.78%;
bottom: 22.86%;

background: linear-gradient(100.91deg, #FFFFFF 5.1%, #BCF3FF 128.44%);


/* Card Details */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 10px;

width: 270px;
height: 110px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Setup Your wallet */

width: 270px;
height: 34px;

/* H5 - Work Sans */
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 140%;
/* identical to box height, or 34px */
text-align: center;
text-transform: capitalize;

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Set up your wallet of choice. Connect it to the NFT market by clicking the wallet icon in the top right corner. */

width: 270px;
height: 66px;

/* Base(Body) - Work Sans */
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */
text-align: center;

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* How it works */

width: 1280px;
height: 844px;

/* Call to Action */
background: linear-gradient(180deg, #A259FF 0%, #613599 100%);

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Section Headline */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

position: absolute;
width: 1050px;
height: 96px;
left: calc(50% - 1050px/2);
top: 80px;



/* How it works */

width: 1050px;
height: 48px;

/* H3 - Work Sans */
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 120%;
/* identical to box height, or 48px */
text-align: center;
text-transform: capitalize;

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* How Tokenized Credentials Work */

width: 1050px;
height: 38px;

/* Body Text- Work Sans */
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 160%;
/* or 38px */
text-align: center;
text-transform: capitalize;

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Card Row */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 30px;

position: absolute;
visibility: hidden;
width: 1050px;
height: 439px;
left: 195px;
top: 224px;



/* Info Card */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 10px 30px 30px;
gap: 20px;

display: none;
width: 330px;
height: 439px;

/* Background - Secondary */
background: #3B3B3B;
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Info Card */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 10px 30px 30px;
gap: 20px;

display: none;
width: 330px;
height: 439px;

/* Background - Secondary */
background: #3B3B3B;
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Info Card */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 10px 30px 30px;
gap: 20px;

display: none;
width: 330px;
height: 439px;

/* Background - Secondary */
background: #3B3B3B;
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Group 7 */

position: absolute;
width: 1005px;
height: 546px;
left: calc(50% - 1005px/2 + 0.5px);
top: 225px;



/* Group 3 */

position: absolute;
width: 485px;
height: 255px;
left: 138px;
top: 225px;



/* Rectangle 3810 */

position: absolute;
width: 485px;
height: 255px;
left: 138px;
top: 225px;

background: #2B2B2B;
border-radius: 20px;


/* Issuance */

position: absolute;
width: 104px;
height: 34px;
left: 260px;
top: 287px;

/* H4 - Work Sans */
font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 140%;
/* identical to box height, or 34px */
text-transform: capitalize;

color: #A259FF;



/* Educational institutions mint your degree as a secure, unique token on the blockchain */

position: absolute;
width: 393px;
height: 93px;
left: 199px;
top: 353px;

/* Base(Body) - Work Sans */
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */

color: #D8D8D8;



/* Group 4 */

position: absolute;
width: 485px;
height: 255px;
left: 658px;
top: 225px;



/* Rectangle 3813 */

position: absolute;
width: 485px;
height: 255px;
left: 658px;
top: 225px;

background: #2B2B2B;
border-radius: 20px;


/* Ownership */

position: absolute;
width: 126px;
height: 34px;
left: 781px;
top: 293px;

/* H4 - Work Sans */
font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 140%;
/* identical to box height, or 34px */
text-transform: capitalize;

color: #A259FF;



/* Your degree is stored in your blockchain wallet, giving you full ownership and control */

position: absolute;
width: 363px;
height: 86px;
left: 719px;
top: 351px;

/* Base(Body) - Work Sans */
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */

color: #D8D8D8;



/* Wallet */

position: absolute;
width: 50px;
height: 50px;
left: 719px;
top: 282px;

background: url(.png);


/* Group 5 */

position: absolute;
width: 485px;
height: 255px;
left: 138px;
top: 516px;



/* Rectangle 3811 */

position: absolute;
width: 485px;
height: 255px;
left: 138px;
top: 516px;

background: #2B2B2B;
border-radius: 20px;


/* Verification */

position: absolute;
width: 134px;
height: 34px;
left: 260px;
top: 595px;

/* H4 - Work Sans */
font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 140%;
/* identical to box height, or 34px */
text-transform: capitalize;

color: #A259FF;



/* Employers can verify your degree instantly using its unique token ID */

position: absolute;
width: 393px;
height: 93px;
left: 199px;
top: 654px;

/* Base(Body) - Work Sans */
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */

color: #D8D8D8;



/* Instagram Verification Badge */

position: absolute;
width: 50px;
height: 50px;
left: 199px;
top: 584px;

background: url(.png);


/* Group 6 */

position: absolute;
width: 485px;
height: 255px;
left: 658px;
top: 516px;



/* Rectangle 3812 */

position: absolute;
width: 485px;
height: 255px;
left: 658px;
top: 516px;

background: #2B2B2B;
border-radius: 20px;


/* Sharing */

position: absolute;
width: 89px;
height: 34px;
left: 781px;
top: 595px;

/* H4 - Work Sans */
font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 140%;
/* identical to box height, or 34px */
text-transform: capitalize;

color: #A259FF;



/* Easily share your credentials with anyone, anywhere */

position: absolute;
width: 393px;
height: 93px;
left: 719px;
top: 654px;

/* Base(Body) - Work Sans */
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */

color: #D8D8D8;



/* Share */

position: absolute;
width: 50px;
height: 50px;
left: 719px;
top: 584px;

background: url(.png);


/* How it works */

width: 1280px;
height: 545px;

/* Caption & Label Text */
background: #858584;

/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* Section Headline */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

position: absolute;
width: 1050px;
height: 96px;
left: 115px;
top: 80px;



/* Testimonials */

width: 1050px;
height: 48px;

/* H3 - Work Sans */
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 120%;
/* identical to box height, or 48px */
text-transform: capitalize;

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Trusted by Students, Employers and Institutions */

width: 1050px;
height: 38px;

/* Body Text- Work Sans */
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 160%;
/* or 38px */
text-transform: capitalize;

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Card Row */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 30px;

position: absolute;
visibility: hidden;
width: 1050px;
height: 439px;
left: 195px;
top: 224px;



/* Info Card */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 10px 30px 30px;
gap: 20px;

display: none;
width: 330px;
height: 439px;

/* Background - Secondary */
background: #3B3B3B;
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Info Card */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 10px 30px 30px;
gap: 20px;

display: none;
width: 330px;
height: 439px;

/* Background - Secondary */
background: #3B3B3B;
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Info Card */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 10px 30px 30px;
gap: 20px;

display: none;
width: 330px;
height: 439px;

/* Background - Secondary */
background: #3B3B3B;
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Forward */

position: absolute;
width: 60px;
height: 60px;
left: 1126px;
top: 273px;

background: url(.png);


/* Back */

position: absolute;
width: 60px;
height: 60px;
left: 96px;
top: 273px;

background: url(.png);


/* Group 10 */

position: absolute;
width: 647px;
height: 241px;
left: 329px;
top: 219px;



/* John Abel */

position: absolute;
width: 99px;
height: 24px;
left: calc(50% - 99px/2 + 1.5px);
top: 347px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-transform: capitalize;

color: #000000;



/* Student */

position: absolute;
width: 60px;
height: 19px;
left: calc(50% - 60px/2);
top: 371px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-transform: capitalize;

color: #3B3B3B;



/* "I can now share my degree with confidence. No more worrying about lost transcripts!" */

position: absolute;
width: 647px;
height: 48px;
left: calc(50% - 647px/2 + 12.5px);
top: 412px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
text-align: center;
text-transform: capitalize;

color: #FFFFFF;



/* Rectangle 3814 */

position: absolute;
width: 125px;
height: 125px;
left: calc(50% - 125px/2 + 0.5px);
top: 219px;

background: url(.png), #C0D9BF;
border-radius: 62.5px;


/* Frame 271 */

width: 1280px;
height: 437px;


/* Inside auto layout */
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;


/* Frame 272 */

position: absolute;
width: 1280px;
height: 437px;
left: 0px;
top: 0px;



/* Footer */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 40px 195px;
gap: 30px;

position: absolute;
width: 1280px;
height: 437px;
left: calc(50% - 1280px/2);
top: calc(50% - 437px/2);

/* Background - Secondary */
background: #3B3B3B;


/* Footer Info */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 31px;

width: 1049.41px;
height: 213px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* NFT Marketplace Info */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 84px 0px 0px;
gap: 30px;

width: 327.41px;
height: 213px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Logo */

width: 32px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Storefront */

position: absolute;
width: 32px;
height: 32px;
left: 0px;
top: 0px;



/* Vector (Stroke) */

position: absolute;
left: 15.62%;
right: 15.62%;
top: 38.9%;
bottom: 12.5%;

/* Call to Action */
background: linear-gradient(180deg, #A259FF 0%, #613599 100%);


/* Vector (Stroke) */

position: absolute;
left: 9.38%;
right: 9.38%;
top: 12.5%;
bottom: 81.25%;

/* Call to Action */
background: linear-gradient(180deg, #A259FF 0%, #613599 100%);


/* Vector (Stroke) */

position: absolute;
left: 9.38%;
right: 59.38%;
top: 21.88%;
bottom: 53.12%;

/* Call to Action */
background: linear-gradient(180deg, #A259FF 0%, #613599 100%);


/* Vector (Stroke) */

position: absolute;
left: 34.38%;
right: 34.38%;
top: 21.88%;
bottom: 53.12%;

/* Call to Action */
background: linear-gradient(180deg, #A259FF 0%, #613599 100%);


/* Vector (Stroke) */

position: absolute;
left: 59.38%;
right: 9.38%;
top: 21.88%;
bottom: 53.12%;

/* Call to Action */
background: linear-gradient(180deg, #A259FF 0%, #613599 100%);


/* NFT Marketplace */

position: absolute;
visibility: hidden;
width: 199.41px;
height: 19.8px;
left: 44px;
top: 8.6px;

background: #FFFFFF;


/* Additional Info */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;

width: 238px;
height: 151px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* NFT marketplace UI created with Anima for Figma. */

width: 238px;
height: 66px;

/* Base(Body) - Work Sans */
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */

color: #CCCCCC;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Community Info */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 15px;

width: 238px;
height: 65px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Join our community */

width: 238px;
height: 18px;

/* Base(Body) - Work Sans */
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */

color: #CCCCCC;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icons */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 158px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* DiscordLogo */

width: 32px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 32.81%;
right: 57.81%;
top: 51.56%;
bottom: 39.06%;

/* Caption & Label Text */
background: #858584;


/* Vector */

position: absolute;
left: 57.81%;
right: 32.81%;
top: 51.56%;
bottom: 39.06%;

/* Caption & Label Text */
background: #858584;


/* Vector (Stroke) */

position: absolute;
left: 25.94%;
right: 25.94%;
top: 25%;
bottom: 65.62%;

/* Caption & Label Text */
background: #858584;


/* Vector (Stroke) */

position: absolute;
left: 25.94%;
right: 25.94%;
top: 65.62%;
bottom: 25%;

/* Caption & Label Text */
background: #858584;


/* Vector (Stroke) */

position: absolute;
left: 57.07%;
right: 3.15%;
top: 14.22%;
bottom: 14.63%;

/* Caption & Label Text */
background: #858584;


/* Vector (Stroke) */

position: absolute;
left: 3.15%;
right: 57.07%;
top: 14.22%;
bottom: 14.63%;

/* Caption & Label Text */
background: #858584;


/* Vector */

position: absolute;
left: 32.81%;
right: 57.81%;
top: 51.56%;
bottom: 39.06%;

/* Caption & Label Text */
background: #858584;


/* Vector */

position: absolute;
left: 57.81%;
right: 32.81%;
top: 51.56%;
bottom: 39.06%;

/* Caption & Label Text */
background: #858584;


/* Vector (Stroke) */

position: absolute;
left: 25.94%;
right: 25.94%;
top: 25%;
bottom: 65.62%;

/* Caption & Label Text */
background: #858584;


/* Vector (Stroke) */

position: absolute;
left: 25.94%;
right: 25.94%;
top: 65.62%;
bottom: 25%;

/* Caption & Label Text */
background: #858584;


/* Vector (Stroke) */

position: absolute;
left: 57.07%;
right: 3.15%;
top: 14.22%;
bottom: 14.63%;

/* Caption & Label Text */
background: #858584;


/* Vector (Stroke) */

position: absolute;
left: 3.15%;
right: 57.07%;
top: 14.22%;
bottom: 14.63%;

/* Caption & Label Text */
background: #858584;


/* YoutubeLogo */

width: 32px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector (Stroke) */

position: absolute;
left: 40.62%;
right: 34.38%;
top: 34.38%;
bottom: 34.37%;

/* Caption & Label Text */
background: #858584;


/* Vector (Stroke) */

position: absolute;
left: 6.25%;
right: 6.25%;
top: 15.78%;
bottom: 15.78%;

/* Caption & Label Text */
background: #858584;


/* TwitterLogo */

width: 32px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 14.62%;
right: 6.25%;
top: 18.75%;
bottom: 12.5%;

/* Caption & Label Text */
border: 2px solid #858584;


/* InstagramLogo */

width: 32px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Vector (Stroke) */

position: absolute;
left: 31.25%;
right: 31.25%;
top: 31.25%;
bottom: 31.25%;

/* Caption & Label Text */
background: #858584;


/* Vector (Stroke) */

position: absolute;
left: 10.94%;
right: 10.94%;
top: 10.94%;
bottom: 10.94%;

/* Caption & Label Text */
background: #858584;


/* Vector */

position: absolute;
left: 65.62%;
right: 25%;
top: 25%;
bottom: 65.62%;

/* Caption & Label Text */
background: #858584;


/* Explore */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 25px;

width: 240px;
height: 166px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Explore */

width: 95px;
height: 35px;

/* H5 - Space Mono */
font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 160%;
/* or 35px */
text-transform: capitalize;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* pages */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;

width: 140px;
height: 106px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Marketplace */

width: 47px;
height: 22px;

/* Base(Body) - Work Sans */
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */

color: #CCCCCC;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Rankings */

width: 105px;
height: 22px;

/* Base(Body) - Work Sans */
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */

color: #CCCCCC;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Connect a wallet */

width: 140px;
height: 22px;

/* Base(Body) - Work Sans */
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */

color: #CCCCCC;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Subscribe */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 25px;

width: 420px;
height: 184px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Join our weekly digest */

width: 162px;
height: 35px;

/* H5 - Space Mono */
font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 160%;
/* or 35px */
text-transform: capitalize;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Subscribe Form & Info */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;

width: 420px;
height: 124px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Get exclusive promotions & updates straight to your inbox. */

width: 330px;
height: 154px;

/* Base(Body) - Work Sans */
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */

color: #CCCCCC;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Subscribe Form */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 16px 0px 16px 20px;
gap: 12px;

display: none;
width: 420px;
height: 60px;

/* Text */
background: #FFFFFF;
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 239 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;

width: 1049.41px;
height: 33px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Divider */

width: 1049.41px;
height: 0px;

/* Caption & Label Text */
border: 1px solid #858584;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Ⓒ NFT Market. Use this template freely. */

width: 1049.41px;
height: 13px;

/* Caption - Work Sans */
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 110%;
/* or 13px */

color: #CCCCCC;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* BlockDegrees */

position: absolute;
width: 177px;
height: 34px;
left: 162px;
top: 81px;

font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 140%;
/* identical to box height, or 34px */
text-align: center;

color: #FFFFFF;

